@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Lexend+Deca:wght@100..900&display=swap');
.hidden {
    display: none;
}
.tw{
  font-family: "Kosugi Maru", sans-serif;
}
.en{
  font-family: "Kosugi Maru", sans-serif;
}
